name: Deploy to Firebase App Distribution

on:
  push:
    branches: [develop]

jobs:
  build-android:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.38.9"
          channel: "stable"

      - name: Flutter pub get
        run: flutter pub get

      - name: Create env.json
        run: |
          cat <<EOF > env.json
          {
              "ENV": "hml",
              "API_BASE_URL": "${{ secrets.API_BASE_URL_HML }}",
              "ENABLE_LOGS": true
          }
          EOF

      - name: Build apk
        run: flutter build apk --release

      - name: Upload to Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1
        with:
          appId: ${{ secrets.FIREBASE_ANDROID_APP_ID }}
          token: ${{ secrets.FIREBASE_TOKEN }}
          groups: testers
          file: build/app/outputs/flutter-apk/app-release.apk
